.mapWrapper {
  width: 100%;
}

.map {
  height: 60vh;
  border-radius: var(--border-radius);
  border: 1px solid var(--light-grey);
}

@media only screen and (max-width: 900px) {
  .map {
    height: 70vh;
  }
}

@media (prefers-color-scheme: dark) {
  .map :global(.leaflet-layer),
  .map :global(.leaflet-control-zoom-in),
  .map :global(.leaflet-control-zoom-out),
  .map :global(.leaflet-control-attribution) {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .map :global(.leaflet-container) {
    background: #000;
  }
}
