.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  margin-bottom: 20px;
  pointer-events: none;
}

.App-navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: var(--font-size-large);
  text-transform: uppercase;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: var(--font-size-regular);
  gap: 20px;
  padding-top: 20px;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 900px) {
  .App-logo {
    height: 30vmin;
  }
}
